.header {
  background-color: rgb(25, 25, 197);
  padding: 10px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input {
  width: 300px;

  padding: 10px;
  border-radius: 6px;
  border: none;
}

.button {
  border-radius: 6px;
  border: none;
  font-size: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.button:hover {
  background-color: rgb(10, 177, 107);
  color: white;

  transition: background-color 0.3s ease, transform 0.3s ease;
}