.header {
  background-color: rgb(25, 25, 197);
  padding: 10px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input {
  width: 300px;

  padding: 10px;
  border-radius: 6px;
  border: none;
}

.button {
  border-radius: 6px;
  border: none;
}
