.loadButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;

  background-color: rgb(25, 25, 197);
  color: white;

  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.loadButton:hover {
  background-color: rgb(10, 177, 107);
  color: white;

  transition: background-color 0.3s ease, transform 0.3s ease;
}
